<div class="container app">
  <div class="row">

    <div class="col-sm-8">
        <h1 class="text-center">{{title}}</h1>
    </div>

    <div class="col-sm-4">
      <div class="alert alert-success alert-dismissable">
        <a href="#" class="close">&times;</a>Mensaje aqui
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-8">
      <h2>Create Data:</h2>
      <form class="form-horizontal">
        <div class="form-group">
          <label for="name" class="control-label col-sm-2">
            Name:
          </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model.name" placeholder="Enter a new name">
          </div>
        </div>
      </form>
    </div>
  </div>

</div>